!include ../my.cnf

[mysqld]
loose-group_replication_auto_increment_increment= 1

[mysqld.1]
replica-parallel-workers=    0

[mysqld.2]
replica-parallel-workers=    0

[mysqld.3]
replica-parallel-workers=    0
